/* Formulario de login */
.login-form-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 40px auto;
    margin-bottom: 60px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Avenir Next', sans-serif;
    color: #8B4513;
}

/* Estilos para los campos de texto */
.login-input-field {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Avenir Next', sans-serif;
}

/* Botón de inicio de sesión */
.login-submit-button {
    font-family: 'Avenir Next', sans-serif;
    margin-top: 30px;
    padding: 12px;
    font-size: 20px;
    color: white;
    background-color: #8B4513;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-submit-button:hover {
    background-color: #704214;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .login-form-container {
        width: 100%;
        padding: 15px;
    }

    .login-input-field, .login-submit-button {
        font-size: 14px;
    }
}
